<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
  
<div class="container wrap">
<h1 class="text-center my-3">
    {{ title }}!
</h1>

<router-outlet></router-outlet>

</div>

<app-footer></app-footer>

