/* You can add global styles to this file, and also import other style files */


html {
    min-height: 100%;
    position: relative;
  }
body {
    margin: 0;
    margin-bottom: 40px;
  }


.wrap{
      padding-top: 40px;
      padding-bottom: 100px;
  }