<div class="card text-white bg-dark" >
    <div class="card-header text-white font-weight-bold text-center"><h3>Listado de clientes</h3></div>
    <div class="card-body text-white">
      <!-- <h5 class="card-title">Listado de clientes</h5> -->
      
<div class="my-2 text-left">
    <a [routerLink]= "['/clientes/form']"><i class="fas fa-plus-square fa-2x"></i> Crear cliente</a>
<!--   <button class="btn btn-outline-primary" type="button" [routerLink] = "['/clientes/form']">
Crear cliente
</button> -->

</div>

<div *ngIf="clientes?.length == 0" class="alert alert-info">
  <p>No hay registros en la base de datos</p>
</div>
      <table class="table table-striped table-dark table-md text-center mt-2" *ngIf="clientes?.length>0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Creado</th>
                <th>Editar</th>
                <th>Eliminar</th>
              </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido | uppercase }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.createAt | date:"EEEE dd, MMMM yyyy" }}</td>
            <td>
              <a href="/clientes/form" [routerLink]= "['/clientes/form', cliente.id]"><i class="fas fa-user-edit fa-1x"></i></a>
           <!--    <button class="btn btn-primary" type="button" name="editar" [routerLink]= "['/clientes/form', cliente.id]">
                  Editar
              </button> -->
            </td>
            <td>
                <a (click)='delete(cliente)' [routerLink]= "['/clientes']"><i class="fas fa-trash-alt fa-1x" style="color: red"></i></a>
               <!--  <button class="btn btn-danger" (click)='delete(cliente)' type="button" name="eliminar">
                    Eliminar
                </button> -->
              </td>
          </tr>
        </tbody>
    
      </table>


    </div>
  </div>