
<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <Li *ngFor="let err of errores">
    {{ err }}
  </Li>
</ul>

<div class="card bg-dark text-white">

<div class="card-header">{{ titulo }}</div>
<div class="card-body">

<form #clienteForm="ngForm">
  <div class="form-group row">
    <label for="" class="col-form-label col-sm-2">Nombre</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre"   #nombre="ngModel">
      <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
        <div *ngIf="nombre.errors.required">
          El campo nombre es obligatorio
        </div>
        <div *ngIf="nombre.errors.minlength">
          El nombre debe tener al menos 4 caracteres
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="" class="col-form-label col-sm-2">Apellido</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido"  #apellido="ngModel">
      <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
        <div *ngIf="apellido.errors.required">
          El campo nombre es obligatorio
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="" class="col-form-label col-sm-2">Email</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" #email="ngModel">
      <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors.required">
          El campo nombre es obligatorio
        </div>
        <div *ngIf="email.errors.email">
          El nombre debe tener un formato válido de e-mail
        </div>
      </div>    
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-6">
      <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">crear</button>
    
    <ng-template #elseBlock>
        <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!clienteForm.form.valid">Editar</button>
    </ng-template>
        
    </div>
  </div>



</form>

</div>

</div>